@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');


*{
    font-family: 'Lalezar', system-ui;
}

body{
    
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    /* background: url("/background.jpg"); */
    background-image: url("/background.jpg") ;
    /* background: url("../images/graduation-blue-background_23-2149354160.jpe  g"); */
   
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 1.2em;
    line-height: 1.6em;
    overflow: hidden;
    
    /* backdrop-filter: saturate(120%); */
}

.container{
    display: flex;
    width: 714px;
    height: 608px;
    border-radius: 20px;
    border: 0.5px, 0px, 0px, 0px;
    background: linear-gradient(180deg, rgba(4, 10, 47, 1),
     rgba(4, 10, 47, 1));
    background-blend-mode: overlay;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-top: 0.5px solid #0064FB;
}

.row{
    padding-left: 53px;
    width: calc(50% - 53px);
    /* background-color: #0064FB; */
}

.row h1{
    margin-bottom: 40px;
}

#loginBtn a
{
    text-decoration: none;
    width: 99px;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
    color: #8A99E9;
    border-radius: .2rem;
    /* color: white; */
}
#loginBtn a:hover{
    border-bottom: 2px solid #0064FB;
}
.inactive_sing{
    opacity: 50%;

}

.active_sing
{
    opacity: 100%;
}


#loginBtn :nth-child(1)
{
    margin-right: 20px;
}

.input{
    width: 286px;
    height: 46px;
    margin-bottom: 12px;
    border-radius: 10px;
    border: transparent;
    background:  rgb(8, 16, 65,0);
    border-top: 0.5px solid #0064FB;
    background: linear-gradient(0deg, #081041, #081041),
    linear-gradient(0deg, #0064FB, #0064FB);
    font-size: 16px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 15px;
    /* outline: ; */
    color: #959DC8;
    /* color: white; */
}

.InputError{
    border: 2px solid red;
}

.input-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 50px;
    font-family: inherit;
    animation: zomIn .5s ease;
}

@keyframes zomIn{
    0%{
        opacity: 0;
        transform: scale(.1);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

#singbtn{
    width: 136px;
    height: 52px;
    padding: 18px, 20px, 18px, 20px;
    border-radius: 10px;
    margin-left: 166px;
    font-size: 25px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: center;
    border: transparent;
    margin-top: 20px;
    color: #FFFFFF;
    transition: .5s ease;
    border: .2rem solid rgba(4, 10, 47, 1);
    outline: .2rem solid transparent;
    background: linear-gradient(272.48deg, #1B266B 6.62%, #0064FB 92.24%);
}

#singbtn:hover{
    opacity: .5;
    outline-color: var(--white-color);
}

.row1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#div-row1{
    width: calc(714px / 2 - 25px);
    margin-left: 25px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 8px;
    margin-top: 20px;
    border-left: 1px solid #0064FB;
    /* border-left: green solid 2px; */
}

.btnAuth {
    display: flex;
    width: 245px;
    height: 66px;
    margin: 10px;
    margin-left: 25px;
    align-items: center;
    padding: 18px, 20px, 18px, 20px;
    border-radius: 10px;
    border: .2rem solid rgba(4, 10, 47, 1);
    outline: .2rem solid transparent;
    gap: 15px;
    background: linear-gradient(272.48deg, #1B266B 6.62%, #0064FB 92.24%);
    transition: .5s ease;
}

.btnAuth:hover{
    opacity: .5;
    outline-color: var(--white-color);
}
.btnAuth img{
    margin-left: 30px;
    width: 32px;
    height: 32px;
}

#logo{
    width: 100px;
    height: 100px;
    /* margin-top: 20px;
    margin-left: 20px; */
}

h1 span{
    color: #0064FB;
}

.h1logo{
    width: 100%;
    /* text-align: center; */
    margin-top: 40px;
    /* margin-left: 130px; */
    padding-bottom: 10px;
}


@media (max-width: 768px){
    body{
       align-items: flex-start;
    }

    .container{
        margin-top: 10%;
        width: 360px;
        max-height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 0px;

        background: transparent;
    }
    .row{
        /* background-color: red; */
        height: auto;
        padding: 0px;
        margin: 0px;;
        width: auto;
    }
    .row1{
        border-top: 1px solid #0064FB;
        
        /* background-color: rgb(107, 200, 73); */
        height: auto;
        padding: 20px;
        margin-top: 20px;;
        width: auto;
    }
    #div-row1{
        width: 100%;
        display: flex;
        margin-left: 0px;
        border-left: 0px;
    }
    .btnAuth{
        width: 100%;
        margin: 0px;
        margin:  0px 15px;
        border-radius: 7px;
        /* background: transparent; */
    }
    .btnAuth :nth-child(1){
        margin-right: 20px;
    }

    .btnAuth img{
        margin: 10px 20px;
    }
    #logo{
        margin-left: 0px;
    }
    /* .h1logo{
        margin-left: 0px;
    } */
    /* .input{
        width: 100%;
    } */
    /* .input-container{
        /* margin-top: 0px; */
    /* } */
    #div-row1{
        margin: 0px;
        border: 0px;
        padding: 0px;
        height: auto;
    }
    #singbtn{
        margin: auto;
        /* margin: 0px; */
        /* color: red; */
        /* justify-self: center; */
    }
    #loginBtn a{
        padding: 1px;
    } 
     /* .btnAuth{
        margin: 0px;
    }  */
    #logo{
        margin: 0px;
    } 
    .h1logo{
        margin-left: 0px;
        /* position: fixed; */
    }
    
    /* .input{
        width: 100%;
    } */
    .input-container{
        width: 308px;
        /* background-color: red; */
        /* padding-top: 10px; */
        /* padding-left: 10px; */
        /* align-items: center; */
        flex-direction: flex-start;
        justify-content: center;
        /* margin: auto; */
        animation: down .5s ease;
    }

    @keyframes down{
        0%{
            opacity: 0;
            transform: translateY(-80%);
        }
        100%{
            opacity: 1;
            transform: translateY(0);
        }
        
    }

    .btnAuth span{
        display: none;
    }

    /* .btnAuth span::after{
        /* content:  'asfafa'; */
    /*} */
}